header {
  padding: 10px 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  justify-items: center;
}
.logo {
  font-size: 30px;
  color: blueviolet;
}
.menu {
  cursor: pointer;
  font-size: 19px;
  display: flex;
  column-gap: 20px;
}
.garage {
  text-align: center;
}
.winners {
  text-align: center;
}
a {
  color: white;
}
.active {
  color: rgb(226, 43, 189);
}
